// .new-app-content {
//   height: 100px;
//   overflow: auto;
//   .col-md-3 {
//     height: 100px;
//   }
// }
// .new-application {
//   margin: 35px 0;
//   height: 200px;
//   margin-left: -10px;
//   .title {
//     font-size: 18px;
//     font-weight: bold;
//     margin-bottom: 10px;
//     margin-left: 13px;
//     .scroll-button {
//       float: right;
//       border: 1px solid #ccc;
//       padding: 0px 5px;
//       height: 35px;
//       border-radius: 8px;
//       background-color: white;
//       button {
//         border: 0;
//         margin: 0;
//         padding: 0;
//         background: transparent;
//         &:disabled {
//           opacity: 0.5;
//         }
//         i {
//           margin: 0px 12px;
//           cursor: pointer;
//         }
//       }
//     }
//   }
//   .middle {
//     float: left;
//     width: 100%;
//     overflow: hidden;
//     white-space: nowrap;
//     height: 250px;
//     .info-widget {
//       display: inline-block;
//       width: 25%;
//       margin: 1px 15px;
//       .new-application-content {
//         position: relative;
//         .description-container {
//           width: 236px;
//           overflow: hidden;
//           white-space: normal;
//           position: absolute;
//           z-index: 1;
//           background-color: white;
//           top: 40px;
//           text-overflow: hidden;
//           right: 2px;
//           border-radius: 8px;
//           color: black;
//           padding: 8px;
//           padding-bottom: 0px;
//           box-shadow: 0px 2px 6px #324b7a;
//         }
//         &:before {
//           content: '';
//           position: absolute;
//           height: 1px;
//           background-color: #ebf0f8;
//           width: 100%;
//           top: 40px;
//           left: 0;
//         }
//         .divider {
//           border-bottom: 2px solid rgb(218, 218, 218);
//           height: 32px;
//         }
//         background-repeat: no-repeat;
//         min-height: 200px;
//         margin-top: 4px;
//         background-color: white;
//         border-radius: 8px;
//         border: 1px solid #d7e0f1;
//         padding: 15px;
//         height: 160px;
//         margin-bottom: 15px;
//         .new-application-content-right {
//           float: right;
//           height: 250px;
//           .new-application-content-right-top {
//             position: relative;
//             .new-application-content-right-icon {
//               &.show-class {
//                 color: #fecb07 !important;
//               }
//               &.hide-class {
//                 color: grey !important;
//               }
//               color: grey;
//               font-size: 20px;
//               margin-left: 15px;
//               position: absolute;
//               right: 0px;
//               &:first-child {
//                 right: 35px;
//                 color: #d40511;
//                 margin: 0 5px;
//               }
//               cursor: pointer;
//             }
//           }
//           .new-application-content-right-bottom {
//             position: relative;
//             .cloud {
//               font-size: 60px;
//               color: #fecb07;
//               position: absolute;
//               right: 30px;
//               top: 80px;
//             }
//           }
//         }
//         .new-application-content-left {
//           float: left;
//           .new-application-content-left-title {
//             font-weight: bold;
//             font-size: 16px;
//             white-space: nowrap;
//             overflow: hidden;
//             text-overflow: ellipsis;
//             width: 154px;
//             position: relative;
//             top: -3px;
//             min-height: 22px;
//           }
//           .new-application-content-left-name {
//             margin-bottom: 25px;
//             font-size: 14px;
//             padding-top: 14px;
//           }
//           .new-application-content-left-user {
//             font-size: 16px;
//             font-weight: bold;
//           }
//           .new-application-content-left-date {
//             font-size: 14px;
//             padding-bottom: 20px;
//           }
//           .new-application-content-left-view {
//             .go-to-app {
//               font-size: 13px;
//               color: #d40511;
//               font-weight: bold;
//               text-decoration: none;
//               .fa{
//                 position: relative;
//                 top: 1px;
//                 font-size: 15px;
//                 font-weight: bold;
//                 left: 5px;
//               }
//             }
//           }
//         }
//       }
//       .last-view-all {
//         position: absolute;
//         width: 100%;
//         height: 200px;
//         background: #fff;
//         opacity: 0.8;
//         top: 4px;
//         text-align: center;
//         padding-top: 95px;
//         border-radius: 10px;
//         a {
//           color: #d40511;
//           font-size: 16px;
//         }
//         .view-all {
//           a {
//             color: #d40511;
//             font-size: 16px;
//             font-weight:bold;
//           }
//         }
//       }
//       &:last-child {
//         position: relative;
//         .new-application-content {
//           .new-application-content-right {
//             i {
//               position: relative;
//               right: 65px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// /*Responsive CSS*/
// @media screen and (min-width:320px) and (max-width:767px) {
//   .new-application {
//     .middle {
//       .info-widget {
//         width: 92%;
//         .new-application-content {
//           .new-application-content-right {
//             .new-application-content-right-bottom {
//               .cloud {
//                 font-size: 42px;
//                 right: 5px;
//               }
//             }
//           }
//         }
//       }
//     }
//     .title {
//       font-size: 2rem;
//       .scroll-button {
//         button {
//           i {
//             margin: 6px 12px;
//           }
//         }
//       }
//     }
//   }
// }
// @media screen and (min-width:768px) and (max-width:1023px) {
// 	.new-application {
// 		.middle {
// 			.info-widget {
// 				width: 50%;
// 			}
// 		}
// 	}
// }
// .error-text{
//   margin-left: 35%;
//   margin-top: 20px;
//   font-size: 14px;
// }
.new-app-content {
  height: 100px;
  overflow: auto;
  .col-md-3 {
    height: 100px;
  }
}
.new-application {
  margin: 35px 0;
  height: 200px;
  margin-left: -10px;
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 13px;
    .scroll-button {
      // float: right;
      // border: 1px solid #ccc;
      // padding: 0px 5px;
      // height: 35px;
      // border-radius: 8px;
      // background-color: white;
      button {
        // border: 0;
        // margin: 0;
        // padding: 0;
        // background: transparent;
        &:disabled {
          opacity: 0.5;
        }
        i {
          // margin: 0px 12px;
          // cursor: pointer;
        }
      }
    }
  }
  .middle {
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 250px;
    .info-widget {
      display: inline-block;
      width: 23%;
      margin: 1px 15px;
      .new-application-content {
        position: relative;
        .description-container {
          width: 236px;
          overflow: hidden;
          white-space: normal;
          position: absolute;
          z-index: 1;
          background-color: white;
          top: 40px;
          text-overflow: hidden;
          right: 2px;
          border-radius: 8px;
          color: black;
          padding: 8px;
          padding-bottom: 0px;
          box-shadow: 0px 2px 6px #324b7a;
        }
        &:before {
          content: '';
          position: absolute;
          height: 1px;
          background-color: #ebf0f8;
          width: 100%;
          top: 40px;
          left: 0;
        }
        .divider {
          border-bottom: 2px solid rgb(218, 218, 218);
          height: 32px;
        }
        background-repeat: no-repeat;
        min-height: 200px;
        margin-top: 4px;
        background-color: white;
        border-radius: 8px;
        padding: 15px;
        height: 160px;
        margin-bottom: 15px;
        //box-shadow: 0px 0px 4px #d7e0f1;
        box-shadow: 0px 3px 4px #c4d9e2;
        .new-application-content-right {
          float: right;
          height: 250px;
          .new-application-content-right-top {
            position: relative;
            .new-application-content-right-icon {
              &.show-class {
                color: #d40511;
              }
              &.hide-class {
                color: #fecb07 !important;
              }
              color: grey;
              font-size: 20px;
              margin-left: 15px;
              position: absolute;
              right: 0px;
              &:first-child {
                right: 35px;
                color: #d40511;
                margin: 0 5px;
              }
              cursor: pointer;
            }
          }
          .new-application-content-right-bottom {
            position: relative;
            .cloud {
              font-size: 60px;
              color: #fecb07;
              position: absolute;
              right: 30px;
              top: 80px;
            }
          }
        }
        .new-application-content-left {
          float: left;
          .new-application-content-left-title {
            font-weight: bold;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 154px;
            position: relative;
            top: -3px;
          }
          .new-application-content-left-name {
            margin-bottom: 5px;
            font-size: 12px;
            padding-top: 0;
            color: #000;
          }
          .new-application-content-left-user {
            font-size: 14px;
            font-weight: bold;
            color: rgba(50, 60, 71, 0.61);
          }
          .new-application-content-left-date {
            font-size: 14px;
            padding-bottom: 20px;
            color: #6d7278;
          }
          .new-application-content-left-view {
            .go-to-app {
              font-size: 13px;
              color: #d40511;
              font-weight: bold;
              text-decoration: none;
              .fa {
                position: relative;
                top: 1px;
                font-size: 15px;
                font-weight: bold;
                left: 5px;
              }
            }
          }
        }
      }
      .last-view-all {
        position: absolute;
        width: 100%;
        height: 180px;
        background: #fff;
        opacity: 0.8;
        top: 4px;
        text-align: center;
        padding-top: 95px;
        border-radius: 10px;
        a {
          color: #d40511;
          font-size: 16px;
        }
        .view-all {
          a {
            color: #d40511;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
      &:last-child {
        position: relative;
        .new-application-content {
          .new-application-content-right {
            i {
              position: relative;
              right: 65px;
            }
          }
        }
      }
    }
  }
}

.allAppIco {
  float: left;
  margin-top: 50px;
  background: #f3f7fb;
  padding: 5px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  margin-left: 0px;
}
.go-to-app {
  font-size: 14px;
  color: #d40511;
  font-weight: bold;
  text-decoration: none;
  float: right;
  position: absolute;
  right: 20px;
  z-index: 9;
  top: 14px;
  .fa {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    top: 2px;
  }
}
.new-application .middle .info-widget {
  position: relative;
}
.new-application
  .middle
  .info-widget
  .new-application-content
  .new-application-content-right
  .new-application-content-right-top {
  left: -95px;
  top: -4px;
}
.new-application
  .middle
  .info-widget
  .new-application-content
  .new-application-content-left {
  position: relative;
  top: 50px;
}
.new-application
  .middle
  .info-widget
  .new-application-content
  .new-application-content-left
  .new-application-content-left-title {
  font-size: 15px;
  color: #323c47;
  min-height: auto;
}
.new-application
  .middle
  .info-widget
  .new-application-content
  .new-application-content-left
  .new-application-content-left-name {
  margin-bottom: 5px;
  padding-top: 5px;
}
.new-application .middle .info-widget .new-application-content {
  min-height: 180px;
}
.btnPrev,
.btnNext {
  position: absolute;
  background: #d40511;
  z-index: 9;
  border-radius: 100%;
  padding: 0;
  width: 42px;
  height: 42px;
  line-height: 50px;
  top: 140px;
  outline: none;
}
.btnPrev .fa,
.btnNext .fa {
  color: #fff;
  font-size: 28px;
}
.btn .fa-angle-right:before,
.btn .fa-angle-left:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-right: 7px solid #ffffff00;
  border-bottom: 7px solid #ffffff00;
  border-top: 7px solid #ffffff00;
  top: 13px;
  z-index: 1;
}
.btn .fa-angle-right:before {
  border-left: 7px solid white;
  right: 8px;
}
.btn .fa-angle-left:before {
  border-right: 7px solid white;
  right: 18px;
}
.btnPrev {
  left: 7px;
}
.btnNext {
  right: -2px;
}

.error-text {
  margin-left: 35%;
  margin-top: 20px;
  font-size: 14px;
}

/*Responsive CSS*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .new-application {
    margin: 15px 0;
    .middle {
      .info-widget {
        width: 92%;
        .new-application-content {
          min-height: 160px;
          .allAppIco {
            margin: 50px 10px 0 0;
            width: 60px;
            height: 60px;
          }
          .new-application-content-left {
            .new-application-content-left-title,
            .new-application-content-left-user {
              font-size: 14px;
            }
            .new-application-content-left-name,
            .new-application-content-left-date {
              font-size: 12px;
              margin: 0;
            }
          }
          .new-application-content-right {
            .new-application-content-right-bottom {
              .cloud {
                font-size: 42px;
                right: 5px;
              }
            }
          }
        }
        .last-view-all {
          height: 160px;
          padding-top: 80px;
        }
      }
    }
    .btnPrev,
    .btnNext {
      width: 32px;
      height: 32px;
      line-height: 32px;
      top: 0;
      top: -10px;
      .fa {
        position: absolute;
        top: -10px;
        left: 22px;
      }
    }
    .btnNext {
      right: 10px;
    }
    .btnPrev {
      right: 45px;
      left: inherit;
    }
    .title {
      font-size: 16px;
      margin-bottom: 0;
      .scroll-button {
        button {
          i {
            margin: 6px 12px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .new-application {
    margin: 15px 0 0;
    .middle {
      .info-widget {
        width: 50%;
      }
      .title {
        margin: 0;
      }
    }
  }
  .btnPrev,
  .btnNext {
    top: 110px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1259px) {
  .new-application {
    .middle {
      .info-widget {
        width: 33.33%;
      }
    }
  }
}
.show-more {
  margin-top: -30px;
  margin-left: 30px;
}
.show-class {
  color: #d40511 !important;
}
.hide-class {
  color: #fecb07 !important;
}
