<div class="home-landing" *ngIf="userLoggedIn">
  <section class="carousel_sec">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators left_reset">
        <li
          data-target="#carousel-example"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <a href="#">
            <img src="./../../../../../assets/images/banner1.png" />
          </a>
          <div class="carousel-caption">
            <!-- <h3>DHL</h3>
            <p>DHL Content</p> -->
          </div>
        </div>
        <div class="item">
          <a href="#">
            <img src="./../../../../../assets/images/banner2.png" />
          </a>
          <div class="carousel-caption">
            <!-- <h3>DHL</h3>
            <p>DHL Content</p> -->
          </div>
        </div>
        <div class="item">
          <a href="#">
            <img src="./../../../../../assets/images/banner3.png" />
          </a>
          <div class="carousel-caption">
            <!-- <h3>DHL</h3>
            <p>DHL Content</p> -->
          </div>
        </div>
      </div>
      <section class="on_banner_sec col-md-11 col-sm-12 col-xs-12">
        <div class="white_stripMas col-md-7 col-sm-12 col-xs-12 col-md-push-5">
          <ul>
            <li>
              <a data-toggle="tab" href="#FasterBuild">Data Management</a>
            </li>
            <li>
              <a data-toggle="tab" href="#LowerBuildCost">Device Management</a>
            </li>
            <li>
              <a data-toggle="tab" href="#DeviceandTech">Security</a>
            </li>
            <li>
              <a data-toggle="tab" href="#LowerIntegration">Event Management</a>
            </li>
          </ul>
        </div>
        <div class="cont_blk col-md-11 col-sm-12 col-xs-12 tab-content">
          <div id="FasterBuild" class="tab-pane fade in active">
            <h1>DATA</h1>
            <h3>Management</h3>
            <ul class="innerList2a">
              <li>
                Data management acts as a layer between the objects and devices
                generating the data
                <br />and the applications accessing the data for <br />
                analysis purposes and services.
              </li>
            </ul>
          </div>
          <div id="LowerBuildCost" class="tab-pane fade">
            <h1>Device</h1>
            <h3>Management</h3>
            <ul class="innerList2a">
              <li>
                Device Management makes it easy to securely onboard, organize,
                monitor, and remotely
                <br />manage IoT devices at scale. Register your connected
                devices individually or in bulk, and easily <br />manage
                permissions so that devices remain secure.
              </li>
            </ul>
          </div>
          <div id="DeviceandTech" class="tab-pane fade">
            <h1>Security</h1>
            <ul class="innerList2a">
              <li>
                IoT Security safeguards the connected devices and networks in
                the internet of things (IoT).
              </li>
            </ul>
          </div>
          <div id="LowerIntegration" class="tab-pane fade">
            <h1>Event</h1>
            <h3>Management</h3>
            <ul class="innerList2a">
              <li>
                Event management is the process of creating an alarm and notify
                the user with ceratain
                <br />information on occurrence of an event.
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="ms_iot_img"></div>
        </div>
      </section>
    </div>
  </section>

  <section class="btm_banner_sec2">
    <div class="main_container">
      <div class="main_Service_mas col-md-12 col-sm-12 col-xs-12">
        <ul class="main_Service">
          <li>
            <div class="ms_content_mas">
              <div class="ms_icon_lft">
                <img src="./../../../../../assets/images/data_icon.png" />
              </div>
              <div class="ms_content">
                <div class="ms_title_blk">
                  <h3 class="yellow_color">Faster</h3>
                  <h4>Build</h4>
                </div>
                <ul class="innerList">
                  <li>
                    Readily available device database to suit specific needs
                  </li>
                  <li>Portfolio of screened implementation vendors</li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="ms_content_mas">
              <div class="ms_icon_lft">
                <img src="./../../../../../assets/images/device_mgt.png" />
              </div>
              <div class="ms_content">
                <div class="ms_title_blk">
                  <h3 class="yellow_color">Lower</h3>
                  <h4>Build Cost</h4>
                </div>
                <ul class="innerList">
                  <li>
                    Access to frame contracts including corporate discounts on
                    Azure
                  </li>
                  <li>Access to reusable platform components</li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="ms_content_mas">
              <div class="ms_icon_lft">
                <img src="./../../../../../assets/images/user_mgt.png" />
              </div>
              <div class="ms_content">
                <div class="ms_title_blk">
                  <h3 class="yellow_color">Device & Tech</h3>
                  <h4>neutral</h4>
                </div>
                <ul class="innerList">
                  <li>Agnostic to telco technologies like NB-IoT, LTE etc.</li>
                  <li>
                    Flexibility to onboard and manage devices of multiple
                    vendors
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="ms_content_mas">
              <div class="ms_icon_lft">
                <img src="./../../../../../assets/images/app_mgt.png" />
              </div>
              <div class="ms_content">
                <div class="ms_title_blk">
                  <h3 class="yellow_color">Integration</h3>
                  <h4>Cost</h4>
                </div>
                <ul class="innerList">
                  <li>Access to reusable platform components</li>
                  <li>
                    Pre-defined connection to Datalake and other DPDHL systems
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="btm_banner_sec3">
    <div class="btm_banner_sec3_headMas">
      <div class="col-md-10 col-sm-8 col-xs-12 col-md-push-1 col-sm-push-2">
        <h2 class="col-md-4 col-sm-12 col-xs-12 col-md-push-4">
          Other Services
        </h2>

        <ul class="othr_services col-md-10 col-sm-12 col-xs-12 col-md-push-1">
          <li>
            <div class="analytics_bg">
              <img src="./../../../../../assets/images/data_analytics.png" />
            </div>
            <br />DATA ANALYTICS
          </li>

          <li>
            <div class="logging_bg">
              <img src="./../../../../../assets/images/logging.png" />
            </div>
            <br />Notifications
          </li>
          <li>
            <div class="reporting_bg">
              <img src="./../../../../../assets/images/reporting.png" />
            </div>
            <br />LOGGING
          </li>
          <li>
            <div class="alerts_bg">
              <img src="./../../../../../assets/images/alerts_events.png" />
            </div>
            <br />REPORTING
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
