  /***START RADIO BUTTON***/ 
  .deviceRadioBtn {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin: 15px 30px 15px 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
  }
  .deviceRadioBtn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  } 
  .deviceRadioBtn .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #7b7b7b;
  } 
  .deviceRadioBtn input:checked ~ .checkmark {
    background-color: #fff;
  } 
  .deviceRadioBtn .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }  
  .deviceRadioBtn input:checked ~ .checkmark:after {
    display: block;
  } 
  .deviceRadioBtn .checkmark:after {
    top: 3px;
    left: 3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #f91700;
  }
    /***END RADIO BUTTON***/ 
  
    
  .createGroupTreeBlk {
    border: 1px solid #ccc; 
    padding: 1.5em 1.5em 0.5em;
    width: 320px;
    border-radius: 8px;
    min-height: 350px;
    h4 {
      margin: 0;
      border-bottom: 1px solid #ccc;
      padding: 0 0 0.5em;
      .fa-users {
        background: #fecb07;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-size: 14px;
        border-radius: 100%;
        float: right;
        position: relative;
        top: -7px;
      }
    }
    .expandLnk {
      color: #d40511;
      font-weight: bold;
      margin: 1em 0;
      font-size: 15px;
      display: block;
      cursor: pointer;
      text-decoration: none;
    }
  }
  
  /***START TREE VIEW***/ 
  .tree{
    padding: 0;
    .treeview{
      margin: 5px 0 0;
    }
  }
  .tree ul {
    margin-left: 20px;
    padding: 0;
  } 
  .tree li {
    list-style-type: none;
    margin: 10px;
    position: relative;
  } 
  .tree li::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -20px;
    border-left: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    border-radius: 0 0 0 0px;
    width: 20px;
    height: 15px;
  } 
  .tree li::after {
    position: absolute;
    content: '';
    top: 8px;
    left: -20px;
    border-left: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    border-radius: 0px 0 0 0;
    width: 20px;
    height: 100%;
  } 
  .tree li:last-child::after {
    display: none;
  } 
  .tree li:last-child:before {
    border-radius: 0 0 0 5px;
  } 
  ul.tree > li:first-child::before {
    display: none;
  } 
  ul.tree > li:first-child::after {
    border-radius: 5px 0 0 0;
  } 
  .tree li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 2px 5px;
  } 
  .tree li a:hover,
  .tree li a:hover + ul li a,
  .tree li a:focus,
  .tree li a:focus + ul li a {
    background: #ccc;
    color: #000;
    border: 1px solid #000;
  } 
  .tree li a:hover + ul li::after,
  .tree li a:focus + ul li::after,
  .tree li a:hover + ul li::before,
  .tree li a:focus + ul li::before .tree li a:hover + ul::before,
  .tree li a:focus + ul::before .tree li a:hover + ul ul::before,
  .tree li a:focus + ul ul::before {
    border-color: #000; /*connector color on hover*/
  } 
  .treeEntity{
    li{
      label{ 
        cursor: pointer;
        margin: 0; 
          .fa{
            width: 21px;
            height: 21px;
            border-radius: 100%;
            background: #f5f5f5;
            text-align: center;
            line-height: 18px;
            color: #a6aeb4;
            border: 1px solid #dcdcdc;
            margin-right: 10px;
           padding-left: 1px;
            font-size: 10px;
          }
      }
    }
  }
  /***END TREE VIEW***/
  
  .rbacRoleMapping{
    width: 80%;  
    .form-group{
      .form-control{    
        width: 63%;
      }
    } 
  }
  .margin-top{
    margin-top: 5%;
  }
  
  .rbacRoleMapping{ 
    .button-group{
      float: none;
      width: auto;
      clear: both;
      display: flex;
      justify-content: center;
      padding: 3em 0 0;
      margin: 0;
      .btn{
        padding: 6px 25px;
      }
      .btn-cancel{
        background: transparent;
        font-weight: bold;
        border: 1px solid #d40511;
        color: #d40511;
      }
      .btn-save{
        background: #d40511;
        border-color: #d40511;
        margin-left: 10px;
        color: #fff;
      }
    }
  } 

  .diable-roles{
    cursor: not-allowed;   
    opacity: 0.5;
  }