<div class="page-title">Device Onboarding</div>
<div class="navigation-button-group">
  <div class="btn-group" role="group" aria-label="...">
    <!-- <button
      type="button"
      class="btn btn-default active"
      [routerLink]="'/devices'"
    >
      <i class="fa fa-list"></i>&nbsp;Device List
    </button> -->
    <button type="button" class="btn btn-default" [routerLink]="'/devices/group'">
      <i class="fa fa-share-alt"></i>&nbsp;Device Group List
    </button>
    <button type="button" class="btn btn-default" [routerLink]="'/devices/onboard/0'">
      <i class="fa fa-share-alt"></i>&nbsp;Device Onboarding
    </button>
  </div>
</div>
<dpdhl-mat-grid [displayedColumns]="displayedColumns" [popUpConfig]="popUpConfig" [data]="deviceList" [configuration]="configuration"
  (viewEvent)="viewDevice($event)" (editEvent)="editDevice($event)" (deleteEvent)="deleteDevice($event)"></dpdhl-mat-grid>