.fade {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  .modal-dialog {
    width: 75%;
  }
}
.modal-header{
  padding: 12px 20px 8px;
  min-height: auto;
  .close{
    font-weight: bold;
    font-size: 28px;
    color: #000;
    margin-top: 4px;
    opacity: 1; 
  }
  .modal-title{
    font-weight: bold;
  }
}
.modal-body{
  .container-fluid{
    padding: 0;
  }
  h3{ 
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 5px;
  }
  .file-holder{
    font-weight: normal;
    font-size: 14px; 
    margin: 10px 0 0;
  }
  .file-holder ~ p{
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;  
    font-weight: bold;
  }
  .table>thead>tr>th{
    background: #f3f7fb;
  }
}
.scrollView{
  overflow: auto;
  max-height: 500px;
}

.table-details{
  border: 2px solid #f3f7fb;
  thead{
    background: #f3f7fb;
    th{
      font-size: 14px;
      font-family: 'Delivery_Regular';
      border: none;
    }
  }
  tbody{
    td{
      padding: 14px 10px 10px;
      border: none;
      font-size: 12px;
      font-weight: bold;
      color: #000;
    }
  }
}
.table-striped>tbody>tr:nth-of-type(odd){
  background: #fff;
}
.table-striped>tbody>tr:nth-of-type(even){
  background: #f3f7fb;
}

/***Responsive CSS***/
@media screen and (min-width: 320px) and (max-width: 767px){
  .fade .modal-dialog{
    width: 96%;
    margin: 2%;
  }
  .col-md-1{
    float: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .col-md-1{
    width: 17%;
    float: left;
  }
  .col-md-5{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    width: 45%;
    float: left;
    padding-left: 0;
  }
  .col-md-6{
    width: 35%;
    float: right;
  }
  .col-md-3, .col-md-2{
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1259px){
  .col-md-5{
    margin-left: 20px;
    margin-right: 0;
    padding-right: 0;
    width: 44%;
  }
  .col-md-6{
    width: 45%;
  }
}
.fontclass{
  text-overflow: ellipsis;   
    overflow: hidden;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}