.sortTableFld{
    float: left;
    width: 200px;
    border: 2px solid #fecb07;
    border-radius: 5px;
    padding: 8px 15px;
    background: #fff;
    margin-right: 15px;
    margin-top: 16px;
}

.status{
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 9;
   top:100px;
    right: 34px;
  }
  .status label{
    color: #000;
    font-size: 14px;
    margin: 0 15px 0 0;
  }
  .status li{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    margin-right: 8px;
  }
  .status li:last-child{
    margin-right: 0;
  }
  .status li span{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 0px;
    border-radius: 10px;
  }
  .status li:nth-child(2) span{
    background: #e81123;
  }
  .status li:nth-child(3) span{
    background: green;
  }
  .margin-bottom40{
      margin-bottom: 40px;
  }
 
  /***Responsive CSS***/
  @media screen and (min-width: 320px) and (max-width: 767px){
    .margin-bottom40{
      margin: 0;
    }
    .status{
      position: relative;
      right: 0;
      width: 100%;
      text-align: center;
      top: 10px;
    }
    .sortTableFld{
      width: 100%;
      margin: 10px 0 0;
    }
    .mat-form-field-infix{
      border: none;
    }
  }