<div class="page-title">Entity Onboarding</div>
<div class="navigation-button-group">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default active" [routerLink]="'/entity'">
      <i class="fa fa-list"></i>&nbsp;Entity List
    </button>
    <!-- <button type="button" class="btn btn-default" [routerLink]="'/entity/add'">
      <i class="fa fa-share-alt"></i>&nbsp;Add Entity
    </button> -->
  </div>
</div>
<div class="entityFormBlk">
  <dpdhl-details [entityList]="entityList" [childEntityList]="childEntityList" [treeViewRoot]="treeViewRoot"
    [selectedEntity]="defaultFormData" [entityFlow]="entityFlow" (getChildEntityList)="getChildEntityById($event)"
    (entityFormData)="entityForm($event)"></dpdhl-details>
</div>