<section class="track_trace1">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12  col-lg-6  col-md-push-3">
      <div class="cont_align">
        <h1 class="text_center">Smart Energy</h1>

        <p class="wht_isIOT text_center">Our Smart Energy will provide a centralized management to improve your energy
          consumptions and identify optimization potentials for your processes. Discrepancies concerning the energy
          consumption in multiple institutions could be analysed and help improve your contractual conditions with
          utility providers.

          <br><br>Current application on the IoT Platform is GBS Smart Energy Management.

        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12  col-lg-6 col-md-push-3 clr_both" id="WhatisIoT">
      <div><img src="./../../../../../assets/images/smart_energy.jpg" title="IoT" class="iot_img"></div>
    </div>

  </div>


</section>
