.bulkServiceBlk {
  margin: 10px 40px 0;
  border-right: 2px dashed #e6e6e6;
  p {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 10px 0;
      font-size: 14px;
      color: #6b6b6b;
    }
  }
}

.fileUploadBox {
  float: left;
  margin: 1em 0 0;
  width: 100%;
  padding: 0;
  &.onBoardBulkDeviceBlk {
    margin: 50px 0 0;
  }
}

.device-onboard-container {
  .fileUploadBox {
    &.onBoardBulkDeviceBlk {
      margin: 30px 0;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 20px;
      float: right;
      .file-holder,
      .downloadFile {
        float: right;
        cursor: pointer;
      }
      h3 {
        font-weight: bold;
        font-size: 14px;
        color: #8c8c8c;
      }
    }
  }
  .button-group {
    float: right;
    margin: 0 20px 0 0;
  }
}

.bulkDeviceBlk {
  .downloadFile {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    background: transparent;
    box-shadow: none;
    border: 1px solid #deeaf5;
    outline: none;
    padding: 10px 0;
    width: 170px;
    border-radius: 8px;
    float: left;
    margin-right: 50px;
    .fa-file-excel-o {
      font-size: 16px;
      color: #2e7d32;
      margin-right: 10px;
      padding: 8px;
      background: #f3f3f3;
      border-radius: 100%;
    }
    .fa-download {
      font-size: 12px;
      color: #d40511;
      margin-right: 10px;
    }
  }
  .file-upload {
    height: auto;
    box-shadow: none;
    border: 2px dashed #deeaf5;
    background: rgb(250, 252, 253);
    margin: 0;
    width: 350px;
    padding: 15px 0;
    p {
      font-size: 14px;
      color: #000;
      margin: 0;
      text-align: center;
    }
  }
  .maxUpload {
    text-align: left;
    display: flex;
    padding: 10px 0 0;
    clear: both;
    width: 350px;
    font-size: 13px;
    font-weight: bold;
    float: right;
    span {
      margin-left: auto;
    }
  }
}
.buttonGrpBlk {
  .btn-default {
    background: transparent;
    font-weight: bold;
    border: 1px solid #d40511;
    color: #d40511;
    padding: 8px 25px;
    font-size: 16px;
    font-family: 'Delivery_Regular';
  }
  .btn-success {
    border: 1px solid #d40511;
    color: #fff;
    background-color: #d40511;
    padding: 8px 25px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Delivery_Regular';
  }
}
.generalInfoBlk {
  width: 90%;
  margin: 40px auto 0;
  padding: 2% 0;
  .form-group {
    position: relative;
    width: 332px;
    &.form-group-search {
      button {
        right: 10px;
      }
    }
  }
  .form-control {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
  }
  mat-select {
    & .form-control {
      line-height: 28px;
    }
  }
  .fa-lock {
    position: absolute;
    top: 34px;
    right: 15px;
    font-size: 21px;
  }
  .display-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
  }
}
.deviceStatusBlk {
  padding-left: 50px;
  position: relative;
  &:before {
    border-left: 1px solid #999;
    content: '';
    position: absolute;
    height: 80%;
    left: -40px;
  }
}
.btnAction {
  clear: both;
  // float: right;
  margin: 40px 45px 0 0;
  .btn-success {
    float: right;
    clear: both;
    margin: 15px 43px 0 0;
  }
}

/***START RADIO BUTTON***/
.deviceRadioBtn {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #d40511;
}

.deviceRadioBtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #7b7b7b;
}
.deviceRadioBtn input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.deviceRadioBtn input:checked ~ .checkmark:after {
  display: block;
}

.deviceRadioBtn .checkmark:after {
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #f91700;
}
/***END RADIO BUTTON***/

.infoBox {
  border: 1px solid #e8e8e8;
  width: 45%;
  padding: 8px 0;
  margin: 20px auto 10px;
  text-align: center;
  border-radius: 6px;
  background: #f9f9f9;
  .fa {
    font-size: 16px;
    padding: 10px;
    background: #d40511;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 6px;
    color: #fff;
  }
  p {
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #d40511;
    position: relative;
    top: -2px;
    margin: 0;
  }
}

/***Responsive CSS***/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .generalInfoBlk {
    width: 100%;
    margin-top: 0;
  }
  .generalInfoBlk .form-control,
  .generalInfoBlk .form-group {
    width: 100%;
  }
  .deviceStatusBlk {
    padding-left: 15px;
    padding-top: 15px;
  }
  .deviceStatusBlk:before {
    border-left: none;
    border-top: 1px solid #999;
    content: '';
    position: absolute;
    height: 12px;
    left: 1%;
    width: 98%;
    top: 0px;
  }
  .generalInfoBlk .form-group.form-group-search button {
    right: 5px;
    top: 34px;
  }
  .generalInfoBlk .display-title {
    margin: 0 0 10px;
    font-family: 'Delivery_Regular';
  }
  .btnAction b {
    display: block;
  }
  .deviceRadioBtn {
    margin: 10px 10px 10px 0;
    float: left;
  }
  .generalInfoBlk .fa-lock {
    top: 32px;
    right: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .generalInfoBlk {
    width: 332px;
    margin-top: 0;
    .display-title {
      margin: 0 0 10px;
    }
  }
  .btnAction {
    margin: 10px 0;
    .btn-success {
      margin-right: 0;
    }
  }
  .deviceStatusBlk {
    padding-left: 15px;
    padding-top: 25px;
    width: 100%;
    clear: both;
    &:before {
      border-left: none;
      border-top: 1px solid #999;
      content: '';
      position: absolute;
      height: 12px;
      left: 1%;
      width: 98%;
      top: 0px;
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1259px) {
  .generalInfoBlk {
    width: 100%;
    margin-top: 0;
  }
  .deviceStatusBlk:before {
    left: -20px;
  }
  .btnAction {
    .btn-success {
      margin-right: 0px;
    }
  }
}
.form-success-msg{
  font-size: 12px;
  padding: 5px 0px;
  color: #029002;
  font-weight: 600;
}
