<!-- <div class="navbar-left">
  <div class="sidenav">
    <div class="side-bar-container" [routerLink]="['/dashboard']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      comment this line -- <i class="fa fa-tachometer font-icon"></i>
      <i class="fa fa-th-large" aria-hidden="true"></i>
      <a>Dashboard</a>
    </div>
    <div class="side-bar-container">
      <i class="fa fa-users" aria-hidden="true"></i>
      <a>Core Entities</a>
      <i class="fa" (click)="toggleNavbarSubMenu()"
        [ngClass]="navBarToggle==true ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
    </div>
    <ul class="navbarSubmenu" *ngIf="navBarToggle==true">
      <li>
        <div class="side-bar-container" [routerLink]="['/business-unit']" routerLinkActive="active">
          <i class="fa fa-users" aria-hidden="true"></i>
          <a>Business Unit</a>
        </div>
      </li>
      <li>
        <div class="side-bar-container" [routerLink]="['/application']" routerLinkActive="active">
          <i _ngcontent-qym-c7="" aria-hidden="true" class="fa fa-window-maximize"></i>
          <a>Application</a>
        </div>
      </li>
      <li>
        <div class="side-bar-container" [routerLink]="['/devices']" routerLinkActive="active">
          <i class="fa fa-print"></i>
          <a>Device</a>
        </div>
      </li>
      <li>
        <div class="side-bar-container" [routerLink]="['/users']" routerLinkActivate="active">
          <i class="fa fa-user-plus"></i>
          <a>User</a>
        </div>
      </li>
    </ul>
    <div class="side-bar-container" [routerLink]="['/associations']" routerLinkActive="active">
      <i class="fa fa-refresh" aria-hidden="true"></i>
      <a href="#">Association</a>
    </div>
  </div>
</div> -->
<div class="navbar-left" dpdhlClickOutside (dpdhlClickOutside)="clickOutside()">
  <div class="sidenav" [ngClass]="toggleMenu ? 'active' : 'inactive'">
    <!-- <i class="fa fa-angle-double-right fa-lg" (click)="menuOpen()"></i> -->
    <i
      class="ico nav-icon"
      [ngClass]="toggleMenu ? 'closed' : 'opened'"
      (click)="menuOpen()"
    >
      <span></span>
    </i>
    <div
      class="side-bar-container"
      [routerLink]="['/dashboard']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="clickMenu()"
    >
      <!-- <i class="fa fa-tachometer font-icon"></i> -->
      <i
        class="ico ico-dashboard"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="right"
        title="Dashboard"
      ></i>
      <a>Dashboard</a>
    </div>
    <div class="side-bar-container" (click)="navBarToggle = !navBarToggle">
      <i
        class="ico ico-core-entities"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="right"
        title="Core Entities"
      ></i>
      <a>Core Entities</a>
      <i
        class="fa"
        [ngClass]="navBarToggle ? 'fa-chevron-up' : 'fa-chevron-down'"
      ></i>
    </div>
    <ul class="navbarSubmenu" *ngIf="navBarToggle">
      <li *ngIf="buEntityIcon && businessIcon">
        <div
          class="side-bar-container"
          [routerLink]="['/business-unit']"
          routerLinkActive="active"
          (click)="clickMenu()"
        >
          <i
            class="ico ico-business-unit"
            aria-hidden="true"
            data-toggle="tooltip"
            data-placement="right"
            title="Business Unit"
          ></i>
          <a>Business Unit</a>
        </div>
      </li>
      <li *ngIf="appIcon">
        <div
          class="side-bar-container"
          [routerLink]="['/application']"
          routerLinkActive="active"
          (click)="clickMenu()"
        >
          <i
            _ngcontent-qym-c7=""
            aria-hidden="true"
            class="ico ico-application"
            data-toggle="tooltip"
            data-placement="right"
            title="Application"
          ></i>
          <a>Application</a>
        </div>
      </li>
      <li *ngIf="deviceIcon">
        <div
          class="side-bar-container"
          [routerLink]="['/devices']"
          routerLinkActive="active"
          (click)="clickMenu()"
        >
          <i
            class="ico iot-deviceIco"
            data-toggle="tooltip"
            data-placement="right"
            title="Device"
          ></i>
          <a>Device Onboarding</a>
        </div>
      </li>
      <li *ngIf="userIcon">
        <div
          class="side-bar-container"
          [routerLink]="['/users']"
          routerLinkActivate="active"
          (click)="clickMenu()"
        >
          <i
            class="ico ico-user"
            data-toggle="tooltip"
            data-placement="right"
            title="User"
          ></i>
          <a>User Onboarding</a>
        </div>
      </li>
    </ul>
    <!-- <div *ngIf="entityIcon" class="side-bar-container" [routerLink]="['/entity']" routerLinkActive="active" (click)="clickMenu()">
      <i class="ico ico-entities" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Entities"></i>
      <a href="#">Entities</a>
    </div> -->
    <div
      class="side-bar-container"
      [routerLink]="['/associations']"
      routerLinkActive="active"
      (click)="clickMenu()"
    >
      <i
        class="ico ico-association"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="right"
        title="Application Configuration"
      ></i>
      <a href="#" class="appConfgLnk">Application<br />Configuration</a>
    </div>
    <div
      *ngIf="rbacIcon || deviceConfigIcon"
      class="side-bar-container"
      (click)="navBarToggleAdmin = !navBarToggleAdmin"
    >
      <i
        class="ico ico-administration"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="right"
        title="Administration"
      ></i>
      <a>Administration </a>
      <i
        class="fa"
        [ngClass]="navBarToggleAdmin ? 'fa-chevron-up' : 'fa-chevron-down'"
      ></i>
    </div>
    <ul class="navbarSubmenu" *ngIf="navBarToggleAdmin">
      <li>
        <div
          *ngIf="deviceConfigIcon"
          class="side-bar-container"
          [routerLink]="['/configuration']"
          routerLinkActive="active"
          (click)="clickMenu()"
        >
          <i
            class="fa fa-cog"
            aria-hidden="true"
            data-toggle="tooltip"
            data-placement="right"
            title="Device Configuration"
          ></i>
          <a>Device Config</a>
        </div>
      </li>
      <li>
        <div
          *ngIf="rbacIcon"
          class="side-bar-container"
          [routerLink]="['/rbac']"
          routerLinkActive="active"
          (click)="clickMenu()"
        >
          <i
            aria-hidden="true"
            class="fa fa-user"
            data-toggle="tooltip"
            data-placement="right"
            title="RBAC"
            ><span class="fa fa-lock"></span
          ></i>
          <a>RBAC</a>
        </div>
      </li>
    </ul>
  </div>
</div>
