<div class="col-md-12 home_inner_blk1">
  <div class="row" id="Howitworks">

    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-12">
      <div class="cont_align">
        <h1>
          How it works?
        </h1>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 buildingMas">
      <div class="how_it_worksBg">
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-5">
          <ul class="hwItwrks">
            <li>Smart Meter</li>
            <li>Pipeline Management</li>
            <li>Home Automation</li>
            <li>Building Automation</li>
            <li>Smart Grid</li>
            <li>Transportation</li>
            <li>Home Security</li>
            <li>Patient Monitoring</li>
            <li>Agriculture</li>
            <li>Smart City</li>
            <li>Street Lighting</li>
            <li>Tracking</li>
            <li>Industrial Asset Management</li>
            <li>Retail & POS</li>
            <li>Wearables</li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 col-lg-push-3">
          <ul class="hwItwrks2">
            <li>
              How can I restrict <span class="red_color">user access?</span>
            </li>
            <li>
              How can I be compliant with <span class="red_color">GDPR?</span>
            </li>
            <li>
              I need device management module for my
              <span class="red_color">IoT pilot</span>
            </li>
            <li>
              Can I <span class="red_color">unify my data ingestion</span> from
              different sources?
            </li>
            <li>
              Can I <span class="red_color">seamlessly connect</span> different
              devices?
            </li>
            <li>
              I need a library of external data sources e.g.
              <span class="red_color">weather, traffic condition</span> etc.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
