.application-owner {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border: 0 solid #d7e0f1;
  padding: 10px;
  padding: 0;
  min-height: 691px;
  height: 691px;
  overflow: hidden;
  box-shadow: 0px 3px 4px #c4d9e2;
  .title {
    font-size: 16px;
    border-bottom: 1px solid #eee;
    height: auto;
    position: relative;
    padding: 12px 20px 10px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #000;
    span {
      position: absolute; 
      padding: 6px 15px 4px;
      font-size: 13px;
      font-weight: bold;
      border-radius: 8px;
      right: 15px;
      top: 7px;
      cursor: pointer;
      box-shadow: 0 2px 4px 0 #d7e0f1;
      border: solid 1.5px #e02020;
      outline: none;
      color: #e02020;
    }
  }
  .content {
    margin: 12px 0;
    min-height: 50px;
    clear: both;
    padding: 0 20px;
    .user-icon {
      position: relative;
      margin-right: 10px;
      margin-top: 3px;
      float: left;
      font-size: 40px;
      color: #fecb07;
      img {
        width: 40px;
        height: 40px;
      }
      span {
        background-color: #d40511;
        width: 16px;
        height: 16px;
        position: absolute;
        border-radius: 8px;
        color: #fff;
        padding: 1px 0px 0px 4px;
        font-size: 11px;
        font-weight: bold;
        right: -2px;
      }
    }
    .user-details {
      width: calc(100% - 150px);
      padding-top: 10px;
      float: left;
      .user-details-name {
        font-size: 16px;
        color: #d40511;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .user-details-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .user-action {
      float: right;
      width: 70px;
      padding-top: 10px;
      .user-action-icon {
        padding-left: 0;
        text-align: center;
        .fa{
          font-size: 20px;
          color: #4a4a4a;
        }
        a{
          text-decoration: none;
        }
      }
      .user-action-text{
        text-align: center;
        a{
          text-decoration: none;
          color: #6d7278;
        }
      }
    }
  }
}
.overlayBlk {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0000008f;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlayContentBlk {
  background: #fff;
  width: 980px;
  min-height: 100px;
  margin: auto;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.display-title {
  margin: 0 0 15px;
  border-bottom: 1px solid #9d9d9d;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 21px;
  color: #000;
  span {
    position: absolute;
    right: 20px;
    font-weight: bold;
    color: #000;
    font-size: 24px;
    cursor: pointer;
  }
}
.form-group {
  label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  label[for='email'],
  label[for='cc'] {
    width: 5%;
  }
  label[for='subject'] {
    width: 9%;
  }
  .form-control {
    display: inline-block;
    background: #fafafa;
    border: 1px solid #e7e7e7;
    box-shadow: none;
    height: 28px;
    border-radius: 3px;
    width: 95%;
    line-height: 28px;
    &#subject {
      width: 91%;
    }
  }
  textarea.form-control {
    background: #fafafa;
    border: 1px solid #e7e7e7;
    box-shadow: none;
    border-radius: 3px;
    width: 100%;
    height: 220px;
  }
}
.mailFlexBlk {
  display: flex;
}
.innerMailFlexBlk {
  width: 100%;
}
.userMailIco {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin-right: 20px;
  font-size: 80px;
  color: #fecb07;
}
.submitBtn,
.cancelBtn {
  float: right;
  background-color: #d40511;
  color: #fff;
  margin-right: 1rem;
  padding: 6px 25px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: none;
}
.cancelBtn {
  margin-right: 10px;
  background-color: #fff;
  color: #d40511;
  margin-right: 1rem;
  border: 1px solid #d40511;
  padding: 6px 20px;
}
/*Responsive CSS*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .application-owner {
    min-height: auto;
    margin-top: 10px;
    clear: both;
    float: left;
    height: auto;
    overflow: initial;
    .content {
      .user-icon {
        font-size: 32px;
        margin-right: 0.75rem;
      }
      margin: 5px 0;
      .user-details {
        width: calc(100% - 105px);
        padding-top: 10px;
        .user-details-name {
          font-size: 1em;
        }
      }
      .user-action {
        width: 60px;
      }
    }
    .title {
      //padding-top: 5px;
      span {
        //padding: 4px 10px;
      }
    }
  }
  .new-application{
    margin: 15px 0 0;
    .title{
      margin-bottom: 0;
    }
  }
  .form-group {
    label {
      display: block;
      margin-bottom: 2px;
      width: 100%;
      font-size: 14px;
    }
    .form-control {
      width: 100%;
      &#subject {
        width: 100%;
      }
    }
  }
  .userMailIco {
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .application-owner {
    min-height: auto;
    float: left;
    margin-top: 20px;
    height: auto;
    overflow: initial;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1259px) {
  .application-owner {
    margin-top: 15px;
  }
}
