<section class="col-md-12 home_inner_blk1">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-10">
      <div class="cont_align2">
        <h1>Event Management</h1>
        <h2 class="hammer_title">
          <span>flow</span> &nbsp;
          <img src="./../../../../../assets/images/hammer_icon2.png" data-toggle="modal" data-target="#myModal" />
        </h2>

        <p class="wht_isIOT">
          Users will be notified over Email, SMS or any other configured medium
          from DHL IoT Platform on qualifying certain threshold mapped in the
          Platform using Custom Templates. These threshold can be configured and
          saved by user as per their need and later been imposed on data
          received.
          <br /><br />Platform can be integrated with any CRM System and create
          CASE as required.
        </p>

        <table class="data_mgt_tbl">
          <tr>
            <th>Notification</th>
            <th>Methodology</th>
          </tr>
          <tr>
            <td>SMS, EMAIL, CRM</td>
            <td>SMS Plugin, Email Plugin, CRM Plugin</td>
          </tr>
          <tr>
            <td>Alerts and Notification</td>
            <td>Rule Engine, Templates</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body"
        style="margin: 0 auto;background: #fff;width:500px; font-size: 30px; font-weight: bold; padding: 100px 0 100px 0; text-align: center;">
        <img src="./../../../../../assets/images/logo.png" title="DHL" /><br />
        Illustration will come here....
      </div>
    </div>
  </div>
</div>
