<div class="page-title">
  Application
</div>
<div class="navigation-button-group">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" [routerLink]="'/devices'">
      <i class="fa fa-list"></i>&nbsp;Device List
    </button>
    <button type="button" class="btn btn-default active">
      <i class="fa fa-share-alt"></i>&nbsp;Onboard Device
    </button>
  </div>
</div>
<dpdhl-details [deviceData]="deviceData" (deviceFormData)="createDevice($event)" (uploadBulkDeviceData)="uploadBulkDevice($event)"></dpdhl-details>