#DPDHLIoT {
  background-color: #fff;
  padding: 40px 0px;

  .cont_align2 {
    h1 {
      padding-left: 15px;
    }
  }

  .tech_integration {
    padding: 0;
  }
}

.home_inner_blk1 h1,
.track_trace1 h1 {
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  font-size: 22px;
  font-family: 'Delivery_bold';
  color: #000;
}

p.wht_isIOT {
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

ul.tech_integration li {
  color: #000;
}
