<div class="col-md-12 home_inner_blk1">
  <div class="row" id="DPDHLIoT">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
      <div class="cont_align">
        <h1>DPDHL and IoT?</h1>
        <p class="wht_isIOT">
          Unify business operations; derive value out of integrated business. Capitalize on the collected data from IoT
          monitoring systems and foster a competitive edge. Have your business boosted on margins and efficiency.
        </p>
        <ul class="tech_integration">
          <li>Services and Products</li>
          <li>Applications and Analytics</li>
          <li>Data and Storage</li>
          <li>Network and Infrastructure</li>
          <li>Sensors and Devices</li>


        </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-8">
      <div class="iot_drawingImg_align"><img src="./../../../../../assets/images/iot-platform.png" title="IoT"
          class="iot_img">
      </div>
    </div>

  </div>
</div>
