<section class="btm_banner_sec4 footer-section">
  <div class="footerMas">
    <div class="col-md-10 col-sm-8 col-xs-12 col-md-push-1 col-sm-push-2">
      <ul class="footer_menu" style="display: none;">
        <li>Home</li>
        <li>About Us</li>
        <li>All Solutions</li>
        <li>Our Divisions</li>
        <li>Industry Sectors</li>
        <li>Insights & Innovation</li>
        <li>Contact us</li>
      </ul>
      <div class="copyRgt">
        &copy; 2019, DPDHL. All rights reserved.
      </div>
    </div>
  </div>
</section>
