<div class="col-md-12 home_inner_blk1">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <div class="cont_align2">
        <h1>
          Benefits of IoT Platform
        </h1>
      </div>
      <ul class="main_Service_inner">
        <li class="col-lg-2">
          <div class="ms_content_mas">
            <div class="ms_icon_lft_benefits">
              <img src="./../../../../../assets/images/data_icon.png" />
            </div>
            <div class="ms_content_inner">
              <div class="ms_title_blk_inner">
                <h3 class="yellow_color">Usecase</h3>
                <h4>1</h4>
              </div>
              <ul class="innerList_inner">
                <li>Devices</li>
                <li>Data</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="col-lg-2">
          <div class="ms_content_mas">
            <div class="ms_icon_lft_benefits">
              <img src="./../../../../../assets/images/data_icon.png" />
            </div>
            <div class="ms_content_inner">
              <div class="ms_title_blk_inner">
                <h3 class="yellow_color">Usecase</h3>
                <h4>2</h4>
              </div>
              <ul class="innerList_inner">
                <li>Devices</li>
                <li>Data</li>
              </ul>
              <br />
            </div>
          </div>
        </li>
        <li class="col-lg-2">
          <div class="ms_content_mas">
            <div class="ms_icon_lft_benefits">
              <img src="./../../../../../assets/images/data_icon.png" />
            </div>
            <div class="ms_content_inner">
              <div class="ms_title_blk_inner">
                <h3 class="yellow_color">Usecase</h3>
                <h4>3</h4>
              </div>
              <ul class="innerList_inner">
                <li>Devices</li>
                <li>Data</li>
              </ul>
              <br />
            </div>
          </div>
        </li>
        <li class="col-lg-2">
          <div class="ms_content_mas">
            <div class="ms_icon_lft_benefits">
              <img src="./../../../../../assets/images/data_icon.png" />
            </div>
            <div class="ms_content_inner">
              <div class="ms_title_blk_inner">
                <h3 class="yellow_color">Usecase</h3>
                <h4>4</h4>
              </div>
              <ul class="innerList_inner">
                <li>Devices</li>
                <li>Data</li>
              </ul>
              <br />
            </div>
          </div>
        </li>
        <li class="col-lg-2">
          <div class="ms_content_mas">
            <div class="ms_icon_lft_benefits">
              <img src="./../../../../../assets/images/data_icon.png" />
            </div>
            <div class="ms_content_inner">
              <div class="ms_title_blk_inner">
                <h3 class="yellow_color">Usecase</h3>
                <h4>5</h4>
              </div>
              <ul class="innerList_inner">
                <li>Devices</li>
                <li>Data</li>
              </ul>
              <br />
            </div>
          </div>
        </li>
        <li class="col-lg-2">
          <div class="ms_content_mas">
            <div class="ms_icon_lft_benefits">
              <img src="./../../../../../assets/images/data_icon.png" />
            </div>
            <div class="ms_content_inner">
              <div class="ms_title_blk_inner">
                <h3 class="yellow_color">Usecase</h3>
                <h4>N</h4>
              </div>
              <ul class="innerList_inner">
                <li>Devices</li>
                <li>Data</li>
              </ul>
              <br />
            </div>
          </div>
        </li>
      </ul>

      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <ul class="dottedul new-band col-lg-6">
          <li>Discuss ideas with IoT champion in the BU</li>
          <li>If idea is found good, elaborate the use case and requirements</li>
        </ul>
        <ul class="dottedul new-band col-lg-6 ">
          <li>
            Design application specific components leveraging
            platform components
          </li>
          <li>Optionally interface with CSI for advisory on devices</li>
        </ul>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="up_dwn_arrow">
          <img src="./../../../../../assets/images/up_down.svg" />
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-10 col-lg-push-1 border_grey">
        <ul class="othr_services col-md-12 col-sm-12 col-xs-12">
          <li>
            <div class="user_mgt_bg">
              <img src="./../../../../../assets/images/user_mgt_icon_white.png" />
            </div>
            <br />User Management
          </li>
          <li>
            <div class="device_mgt_bg">
              <img src="./../../../../../assets/images/device_mgt_icon.png" />
            </div>
            <br />Device Management
          </li>
          <li>
            <div class="data_mgt_bg">
              <img src="./../../../../../assets/images/data_mgt_icon.png" />
            </div>
            <br />Data Management
          </li>
          <li>
            <div class="api_bg">
              <img src="./../../../../../assets/images/api_mgt.png" />
            </div>
            <br />External APIs
          </li>
          <li>
            <div class="analytics_bg">
              <img src="./../../../../../assets/images/data_analytics.png" />
            </div>
            <br />DATA ANALYTICS
          </li>
          <li>
            <div class="logging_bg">
              <img src="./../../../../../assets/images/logging.png" />
            </div>
            <br />Notifications
          </li>
          <li>
            <div class="reporting_bg">
              <img src="./../../../../../assets/images/reporting.png" />
            </div>
            <br />LOGGING
          </li>
          <li>
            <div class="alerts_bg">
              <img src="./../../../../../assets/images/alerts_events.png" />
            </div>
            <br />REPORTING
          </li>
        </ul>

      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <ul class="dottedul new-band col-lg-6">
          <li>Design and Build common platform components</li>
          <li>Validate and optimize design for the use case</li>
        </ul>
        <ul class="dottedul new-band col-lg-6 ">
          <li>
            Maintain interfaces to DPDHL systems like Data Lake
          </li>
          <li>Leverage assigned experts for legal, data protection, security etc.</li>
        </ul>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="up_dwn_arrow">
          <img src="./../../../../../assets/images/up_down.svg" />
        </div>
        <p class="api_text_align">
          <span>- API -</span><br /><span>- Data Lake -</span><br /><span>- Cloud -</span><br /><span>- Customer
            Experience -</span>
        </p>
      </div>

    </div>
  </div>
</div>
