.track_trace1 .cont_align {
  margin: 40px 20px 0 20px;
}

.new-band {
  background-image: -webkit-linear-gradient(-32deg, #efefef 50%, #979797 50%, #333 105%) !important;
  background-image: linear-gradient(122deg, #efefef 50%, #979797 50%, #333 105%) !important;
}
