<!-- Modal -->
<div id="myModal" class=" fade" [ngClass]="viewData ? 'in' : ''" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closePopup()"
        >
          &times;
        </button>
        <h4 class="modal-title">RBAC Details</h4>
      </div>
      <div class="modal-body scrollView">
        <div class="row margin-top">
          <div class="container-fluid rbacBlk">
            <div class="row appDetailsViewRow">
              <div>
                <div class="form-group ">
                  <label for="name">
                    Roles:
                    <span>{{ viewData[0]?.role_name }}</span>
                  </label>
                </div>

                <div class="form-group">
                  <label for="function">User Group: </label>
                  <span *ngFor="let usrgrp of userGroup; let last = last">
                    {{ usrgrp.user_group_name }} <span *ngIf="!last">,</span>
                  </span>
                </div>
                <ng-container
                  *ngIf="
                    viewData && viewData.length > 0 && viewData[0].privilege
                  "
                >
                  <!-- {{viewData[0].privilege|json}} -->
                  <div *ngFor="let component of viewData[0].privilege">
                    <h3 class="displayTitle">
                      {{ component.role | titlecase }}
                    </h3>

                    <div *ngFor="let obj of component.rights">
                      <!-- {{obj|json}} -->
                      <label
                        class="checkBoxLabel"
                        *ngFor="let item of obj | keyvalue"
                      >
                        <div>
                          <span
                            [ngClass]="{ yes: item.value, no: !item.value }"
                          ></span>
                          {{ getCamelCase(item.key) }}
                        </div>
                        <br />
                      </label>
                      <!-- <div>
                      <div class="form-group">
                        <div class="checkBoxGroup form-control">
                          <label class="checkBoxLabel" *ngFor="let item of obj | keyvalue">
                            <input type="checkbox" name="item.value" [checked]="item.value" value="{{ item.value }}" />

                            <p>{{ getCamelCase(item.key) }}</p>
                            <span class=" checkmark "></span>
                          </label>
                        </div>
                      </div>
                    </div> -->
                    </div>
                  </div>
                </ng-container>
                <!-- <div>
                  <div class="dropDownFld" *ngFor="
                          let child of viewData[0].privilege;
                          let i = index
                        ">
                    <div class="panel-heading row" role="tab" [id]="'heading' + child.value.role">
                      <h4 class="panel-title">

                        <button class="btn btn-primary btn-collapse">
                          <a style="text-decoration:none" role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse' + child.value.role"
                            aria-expanded="true" [attr.aria-controls]="'collapse' + child.value.role" class="collapsed">
                            <i class="fa fa-caret-down"></i>
                            {{ child.value.role | titlecase }}
                            <span class="expand-span-class"> </span>
                          </a>
                        </button>
                      </h4>
                    </div>

                    <div class="toggle-class" [id]="'collapse' + child.value.role" class="panel-collapse collapse " role="tabpanel" [attr.aria-labelledby]="'heading' + child.value.role">
                      <div class="panel-body width100">
                        <div *ngFor="let obj of child.value.rights">
                          <div>
                            <div class="form-group">
                              <div class="checkBoxGroup form-control">
                                <label class="checkBoxLabel" *ngFor="let item of obj | keyvalue">
                                  <input type="checkbox" [disabled]="
                                          rbacData.roleName == 'Platform Admin' ||
                                          rbacData.roleName == 'Application Admin' ||
                                          rbacData.roleName == 'Default App User Role'
                                            ? true
                                            : false
                                        " name="item.value" [checked]="item.value" value="{{ item.value }}" (change)="
                                          updateCheckedOptions(item, child.value.role)
                                        " />
                                  <p>{{ getCamelCase(item.key) }}</p>
                                  <span class=" checkmark "></span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
