<section class="col-md-12 home_inner_blk1">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-10">
      <div class="cont_align2">
        <h1>Security</h1>
        <h2 class="hammer_title">
          <span>Data Communication & Channel</span> &nbsp;
          <img src="./../../../../../assets/images/hammer_icon2.png" data-toggle="modal" data-target="#myModal" />
        </h2>

        <p class="wht_isIOT">
          Security is a critical consideration in each of the subsystems. DHL
          IoT Platform ensures security as below
        </p>

        <ul class="data_mgt_ul">
          <li>Secure provisioning of devices,</li>
          <li>Secure connectivity between edge devices, and the cloud,</li>
          <li>Secure access to the backend solutions,</li>
          <li>
            Secure data protection in the cloud during processing and storage
            (encryption at rest).
          </li>
          <li>
            Compliant to DHL Information Security Compliance and Guidelines
          </li>
        </ul>

        <p class="wht_isIOT">
          Azure IoT Hub offers a fully managed service that enables reliable and
          secure bi-directional communication between IoT devices Enable TLS1.2
          with PKI infrastructure in case the connectivity over IoT Hub SDK<br /><br />

          For storage, Azure Cosmos DB for warm path storage and Azure Blob
          Storage for cold storage both of which support encryption at rest.

          <br /><br />Both Symmetric and Asymmetric encryption is used for data
          encryption if data to be secured while motion.

          <br /><br />For user management, such as authenticating user
          credentials, authorization of user UI capabilities, reporting and
          management tools users have access to, and auditing, Azure Active
          Directory is used. Azure Active Directory supports the widely used
          OAuth2 authorization protocol and provides audit log records of system
          activities. RBAC (Role Based Access Control) on each entity ensures
          zero unauthorized access to platform components.
        </p>
        <table class="data_mgt_tbl">
          <tr>
            <th>Security</th>
            <th>Measures</th>
          </tr>
          <tr>
            <td>Device(Provisioning, Connectivity & Communication)</td>
            <td>IoT Hub & TLS 1.2 with PKI Certificates</td>
          </tr>
          <tr>
            <td>Data(Storage)</td>
            <td>
              Azure Cosmos DB, Azure BlobData Encryption (Symmetric & Asymmetric
              encryption)
            </td>
          </tr>
          <tr>
            <td>User(Access Management)</td>
            <td>
              Azure Active DirectoryOAuth2 , Custom RBAC (Role Based Access
              Control)
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body"
        style="margin: 0 auto;background: #fff;width:500px; font-size: 30px; font-weight: bold; padding: 100px 0 100px 0; text-align: center;">
        <img src="./../../../../../assets/images/logo.png" title="DHL" /><br />
        Illustration will come here....
      </div>
    </div>
  </div>
</div>
