<div class="col-md-12 home_inner_blk1">

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-6">
      <div class="cont_align2">
        <h1>What is IoT?</h1>
        <p class="wht_isIOT">IoT seamlessly connects physical and digital worlds,offering new possibilities in
          digitizing real world assets </p>
        <p class="wht_isIOT">An <b>IoT platform</b> is a <span class="red_color yell_bg">multi-layer technology</span>
          that
          enables straightforward provisioning, management, and automation of connected devices within the Internet of
          <b>Things universe.</b></p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="WhatisIoT">
      <div class="iot_drawingImg_align"><img src="./../../../../../assets/images/iot_drawing.png" title="IoT"
          class="iot_img">
      </div>
    </div>

  </div>



</div>
